{% include "fehmi.html" %}

{% block content %}
<h1>
    {{my_text}}
</h1>
<p>
    {{my_number}}
</p>
<p>
    {{my_day}}
</p>
<h1>This is about page</h1>
<ul>{% for abc in my_list %}
    {% if abc >= 333 %}
        <h1>{{ forloop.counter}} --- {{abc}}</h1>
    {% elif abc <= 333 %}
        <h1>{{ forloop.counter}} --- {{my_number}}</h1>
    {% else %}
    <h2>Hello Django World</h2>
    
    {% endif %}

        
    {% endfor %}
    <h1>It is {% now "jS F Y H:i" %}</h1>
    <h1>It is {% now "SHORT_DATETIME_FORMAT" %}</h1>
    {% lorem 3 p %} 

</ul>

{% endblock content %}