
<body>
   <h1> <strong><a href="http://127.0.0.1:8000/calc/style/">API Test in Django<a></strong></h1>
    {% for i in response%}
        {% if i.Country == "Turkey" %}
        <ul>
            <li>
                <h2>Hello Django World</h2> 
               
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <h1>{{i.Country}}</h1>
                <h2>{{i.ISO2}}</h2>
                <h2>{{i.Slug}}</h2>
            </li>
        </ul>
           
        {% endif %}
    {% endfor %}
</body>
